{
  "extends": [
    "react-app",
    "prettier"
  ],
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": "warn",
    "react/jsx-no-bind": "warn",
    "arrow-body-style": ["warn", "as-needed"],
    "no-console": "warn",
    "eqeqeq": ["error", "always"],
    "no-duplicate-imports": "warn"
  }
}
