.booking {
  h3 {
    display: flex;
    justify-content: space-between;
    margin: 0.5em 0;
  }

  ul {
    margin: 0.5em 0 0.5em 0.5em;
    padding-left: 0.5em;
  }

  li > div {
    display: flex;
    justify-content: space-between;
  }

  &__hide {
    position: relative;

    &::before {
      content: " ";
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: 1;
      background-color: var(--color-bg-4);
    }
  }
}