details {
  background-color: var(--color-bg-4);
  border-radius: 0.5em;
  position: relative;

  > :not(summary) {
    padding: 0.5em;
    margin: 0;
  }

  summary {
    cursor: pointer;
    padding: 0.5em;
    background-color: var(--color-bg-3);
    border-radius: 0.5em;
  }
}
