.history {
  margin-top: 0.5em;

  &__filter {
    display: flex;
    gap: 1em;
    margin-bottom: 1em;
  }

  label {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    align-items: center;
  }
}