.settings {
  background-color: var(--color-bg-3);
  padding: 1em;
  margin-top: 0.5em;
  border-radius: 0.5em;

  table {
    border-collapse: collapse;
    width: 100%;

    &, th, td {
      border: 1px solid white;
    }

    th, td {
      padding: 0.5em;
    }

    .th-max-width {
      column-width: 100vw;
    }
  }

  &__category-regex input {
    width: 100%;
  }

  h2 {
    margin-top: 0;
  }

  h3 {
    margin-top: 2em;
  }
}
