.todos {
  display: flex;
  flex-direction: column;
  gap: 0.5em;

  .add-todo {
    display: flex;
    align-items: center;
    gap: 0.5em;
    margin-bottom: 0.5em;

    form, input {
      width: 100%;
    }
  }

  > .todos_resolved {
    margin-top: 0.5em;

    summary {
      color: var(--color-success);
    }
  }

  .todos_resolved_items {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
  }

  .todos_group {
    background-color: var(--color-group-details);

    > summary {
      background-color: var(--color-group);
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 0.5em;

    summary:after {
      position: absolute;
      content: " ";
      width: 100%;
      height: 0.2em;
      background-color: var(--todo-color-outline);
      left: 0;
      bottom: -0.3em;
    }
  }

  .todo {
    &__summary {
      display: inline-flex;
      gap: 0.25em;
      width: calc(100% - 1em);

      em span:not(:last-child) {
        padding: 0.25em;
        border-radius: 0.25em;
        margin-right: 0.25em;
        background-color: rgba(var(--color-info-rgb), 0.5);
      }

      form {
        width: 100%;

        input {
          width: 100%;
        }
      }

      input[type="checkbox"] {
        scale: 1.5;
        margin: 0.3em 0 auto 0.25em;
      }
    }

    &__sub-summary {
      flex-grow: 1;
      display: flex;
      justify-content: space-between;
      gap: 0.25em;
    }

    &__description {
      display: flex;
      justify-content: space-between;
    }

    &__resolved {
      margin: 0 0 0.5em 0;
      padding: 0.25em;
      background-color: var(--color-success);
      color: var(--color-bg);
      border-radius: 0.5em;
    }
  }

  button.delete {
    background-color: var(--color-warn);
  }
}
