.tracks {
  @media screen and (min-width: 1000px) {
    overflow: auto;
  }

  display: grid;
  grid-auto-rows: min-content;
  grid-template-columns: min-content auto min-content min-content max-content min-content;
  grid-row-gap: 1em;
  align-items: center;

  .track {
    &__rate svg {
      width: 2em;
    }

    &__time {
      display: flex;
      align-items: center;

      svg {
        margin-right: 0.5em;
        width: 2em;
      }
    }

    &__description {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0 1em;
      padding: 0.5em 1em;
      border-radius: 0.5em;

      form, input {
        width: 100%;
      }

      em span:not(:last-child) {
        padding: 0.25em;
        border-radius: 0.25em;
        margin-right: 0.25em;
        background-color: rgba(var(--color-info-rgb), 0.5);
      }
    }

    &__resume {
      margin-right: 0.5em;

      button {
        background-color: var(--color-success);
      }
    }

    &__diff {
      padding: 0 1em;
    }

    &__actions {
      button {
        margin: 0 0.25em;
      }
      .delete {
        background-color: var(--color-warn);
      }
    }
  }

  @media screen and (max-width: 500px) {
    .track {
      &__time {
        flex-direction: column;

        svg {
          margin: 0;
        }
      }

      &__description {
        margin: 0 0.25em;
        padding: 0.5em;
      }

      &__diff {
        padding: 0;
        text-align: center;
      }
    }
  }
}