button.icon-button {
  height: min-content;
  cursor: pointer;
  border-radius: 1em;
  border: none;
  padding: 0.25em 0.5em;
}

svg.icon {
  width: 1em;
  height: 0.75em;

  &.big {
    height: 1.25em;
  }
}
