:root {
  --color-bg: hsl(0 0% 0%);
  --color-bg-2: hsl(0 0% 15%);
  --color-bg-3: hsl(0 0% 30%);
  --color-bg-4: hsl(0 0% 45%);
  --color-text: hsl(0 0% 100%);
  --color-text-1: hsl(0 0% 90%);
  --color-text-2: hsl(0 0% 80%);
  --color-text-3: hsl(0 0% 70%);
  --color-delete: lightcoral;
  --color-open-workdir: lightblue;
  --color-start-recording: lightgreen;
}
