.App {
    padding: 0 1em;

    &::before {
        content: ' ';
        background-image: url("./bg.svg");
        background-repeat: no-repeat;
        background-size: cover;
        background-blend-mode: color;
        position: fixed;
        height: 100%;
        width: 100%;
        left: 0;
        pointer-events: none;
    }
}

button.icon-button {
    height: min-content;
    cursor: pointer;
    border-radius: 1em;
    border: none;
    padding: 0.25em 0.5em;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h1 {
        white-space: nowrap;

        img {
            height: 0.75em;
        }
    }
}

.content {
    margin-bottom: 1em;
    display: grid;
    grid-template-rows: 1fr max-content;
    grid-row-gap: 1em;

    @media screen and (min-width: 1000px) {
        grid-template-rows: unset;
        grid-row-gap: unset;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 1em;
    }
}

main {
    h2 {
        display: flex;
        justify-content: space-between;

        .subtitle {
            color: $colorText-3;
        }
    }

    .microphone {
        text-align: center;

        button {
            font-size: 2em;
            position: relative;
        }

        &--start button {
            background-color: lightgreen;
        }

        &--recording button::after {
            content: ' ';
            background-color: #ff0000aa;
            height: 100%;
            width: 100%;
            top: 0;
            left: 0;
            border-radius: 1em;
            position: absolute;
            animation: blink 1.5s ease-in-out infinite;
            pointer-events: none;
        }
    }
}
@keyframes blink {
    0% {
        background-color: #ff000011;
    }
    50% {
        background-color: #ff0000aa;
    }
    100% {
        background-color: #ff000011;
    }
}

.tracks {
    margin: 2.5em 0;
    display: grid;
    grid-template-columns: min-content auto min-content max-content min-content;
    grid-row-gap: 1em;
    align-items: center;

    .track {
        &__rate svg {
            width: 2em;
        }

        &__time {
            display: flex;
            align-items: center;

            svg {
                margin-right: 0.5em;
                width: 2em;
            }
        }

        &__description {
            margin: 0 1em;
            padding: 0.5em 1em;
            border-radius: 0.5em;
        }

        &__diff {
            padding: 0 1em;
        }
    }

    .delete {
        background-color: lightcoral;
    }
}

aside {
    details {
        background-color: lighten($colorBg, 15%);
        border-radius: 0.5em;

        .tracks {
            padding: 0.5em;
            margin: 0;
        }

        summary {
            position: relative;
            padding: 0.5em;
            margin: 0.5em 0;
            background-color: lighten($colorBg, 10%);
            border-radius: 0.5em;

            .summary-title {
                position: absolute;
                width: calc(100% - 3em);
                top: 0.5em;
                left: 1.5em;
                display: flex;
                justify-content: space-between;
            }

            .summary-subtitle {
                color: $colorText-3;
            }
        }
    }
}

.settings {
    position: fixed;
    z-index: 1;
    top: 0;
    left: -110vw;
    height: 100%;
    width: 100%;
    background-color: $colorBg;
    padding: 0 1em;
    transition: left 0.5s ease-out;
    box-shadow: black 0 4px 4px 2px;

    &__close {
        position: absolute;
        top: 1em;
        right: 1em;
    }

    &--open {
        left: 0;
    }
}

svg.icon {
    width: 1em;
    height: 1em;
    padding-top: 0.125em;
}

.workdir-access {
    text-align: center;

    button {
        font-size: 2em;
        background-color: lightblue;
    }
}
