button.icon-button {
  height: min-content;
  border-radius: 1em;
  border: none;
  padding: 0.25em 0.5em;
  cursor: pointer;

  &:hover {
    filter: drop-shadow(2px 4px 6px black);
  }
}

svg.icon {
  width: 1em;
  height: 0.75em;

  &.big {
    height: 1.25em;
  }
}
