:root {
  --color-bg: hsl(0 0% 0%);
  --color-bg-2: hsl(0 0% 15%);
  --color-bg-3: hsl(0 0% 30%);
  --color-bg-4: hsl(0 0% 45%);
  --color-bg-4-transparent: hsla(0 0% 45% / 10%);
  --color-text: hsl(0 0% 100%);
  --color-text-1: hsl(0 0% 90%);
  --color-text-2: hsl(0 0% 80%);
  --color-text-3: hsl(0 0% 70%);
  --color-warn: lightcoral;
  --color-info-rgb: 173, 216, 230;
  --color-info: rgba(var(--color-info-rgb));
  --color-group: hsl(278.42deg 60% 37%);
  --color-group-details: hsl(278deg 60% 37% / 50%);
  --color-success: lightgreen;
}
