name: Build

on:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/pnpm-install
        with:
          target: 'frontend'
      - name: Lint
        run: pnpm lint
        working-directory: frontend
      - name: Test
        run: pnpm test
        working-directory: frontend
      - name: Build
        run: pnpm build
        working-directory: frontend
